.full-width {
  width: 100%;
}
.git-icon {
  content: url("https://github.githubassets.com/assets/pinned-octocat-093da3e6fa40.svg");
  height: 26px;
  display: inline-block;
  vertical-align: middle;
}
:root {
  --vp-c-brand-1: #e54f38;
}
.responsive-iframe {
  position: relative !important;
  width: 100% !important;
  padding-bottom: 56.25% !important;
  /* 16:9 aspect ratio */
  height: 0 !important;
  overflow: hidden !important;
}

.responsive-iframe iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.VPSidebarItem .items .level-1 {
  padding-left: 10px;
}

/* Global scroll behavior for smooth scrolling */
html {
  scroll-behavior: smooth; /* Enables smooth scrolling across the page */
}

/* Customizing scrollbar for Webkit browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scroll */
}

html::-webkit-scrollbar-track {
  border-radius: 20px; /* Rounded corners of the track */
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Rounded corners of the thumb */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}

/* Customizing scrollbar for Firefox */
html {
  scrollbar-width: thin; /* Makes the scrollbar thin */
}

/* Webkit browsers (Chrome, Safari, Edge) specific styles for .VPSidebar */
.VPSidebar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.VPSidebar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.VPSidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.VPSidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}

/* Firefox specific styles for .VPSidebar */
.VPSidebar {
  scrollbar-width: thin; /* Thin scrollbar */
}

@media (prefers-color-scheme: dark) {
  .git-icon {
    filter: invert(40%); /* Inverts the icon color in dark mode */
  }
}
